* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
}
.hero-container {
    text-align: center;
    padding: 40px 50px 0;
    background-color: #023243;
    color: white;
    position: relative;
    height: 450px;
}
.hero-container p{
    color: #86BFD3;
    margin-top: 10px;
}
.hero-container img{
    position: absolute;
    width: 350px;
    max-width: 400px;
    left: 15px;
    bottom: 0;
}
.login-container{
    background-color: white;
    padding: 35px 50px;
    font-weight: bold;
    clear: both;
}
.login-container h1{
    margin-bottom: 20px;
}
input{
    margin: 5px 0 10px;
}
input:placeholder{
    color: #BCBCBC;
}
#email{
    width: 275px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-bottom: 15px;
}
#password{
    width: 275px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-bottom: 15px;
}
#checkbox{
    float: left;
}
.tandc{
    font-weight: lighter;
    padding: 5px 50px 0 20px;
}
.tandc a{
    text-decoration: none;
    color: #023243;
    font-weight: bold;
    border-bottom: 2px solid #023243;
}
button{
    width: 275px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #023243;
    color: white;
}

/* For tablets */
@media (min-width: 750px) {
    body{
        background: linear-gradient(135deg, rgb(238, 125, 162,1), rgb(248,214,163,.2) 50%), linear-gradient(45deg, rgb(241,155,131,1), rgb(255,252,248,.2) 50%);
     }
    #wrapper{
        width: 400px;
        margin: 50px auto;
    }
    .hero-container img{
        left: 25px;
        bottom: 0;
    }
    .login-container{
        border: 1px solid #BCBCBC;
        border-radius: 0 0 10px 10px ;
    }
}

/* For Desktop screens */
@media (min-width: 1440px) {
    #wrapper{
        display: flex;
        width: 800px;
    }
    .hero-container{
        width: 50%;
        height: 471px;
        padding: 40px 40px 0;
        border-radius: 10px 0 0 10px;
    }
    .hero-container img{
        left: 30px;
    }
    .login-container{
        width: 50%;
        padding: 30px 50px;
        border-radius: 0 10px 10px 0;
    }
}